@font-face {
  font-family: "Avenir Next";
  /* src: url(./Metropolis/Metropolis-Black.otf);
  src: url(./Metropolis/Metropolis-ExtraLight.otf);
  src: url(./Metropolis/Metropolis-Light.otf);
  src: url(./Metropolis/Metropolis-Medium.otf);
  src: url(./Metropolis/Metropolis-SemiBold.otf);
  src: url(./Metropolis/Metropolis-Thin.otf);
  src: url(./Metropolis/Metropolis-Regular.otf);
  src: url(./Metropolis/Metropolis-Bold.otf); */
  src: url(./Metropolis/Metropolis-ExtraBold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

.home {
  width: 100%;
  min-height: 100vh;
  background: url(./backgroundhome3.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 180vh;
  filter: brightness(1.2);
  filter: saturate(2);
  position: relative;
}

.home h2 {
  color: #e96f92;
  text-align: center;
  margin-top: 5rem;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Avenir Next", sans-serif, Helvetica;
  display: flex;
  justify-content: center;
}

.home span {
  color: #ffeddb;
  font-size: 22px;
  display: block;
  text-align: center;
  font-weight: bold;
  padding-top: 0.4rem;
  font-family: "Avenir Next", sans-serif, Helvetica;
}

.signature {
  max-width: 25%;
  height: auto;
  display: block;
  margin: 0.2rem auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2rem;
  font-family: "Avenir Next", sans-serif, Helvetica;
}

nav a {
  color: #ffeddb;
  text-decoration: none;
  font-weight: bold;
}

.star {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background-color: #ffeddb;
  width: 15px;
  height: 15px;
  animation: starAnimation 2s infinite ease-in-out;
  position: absolute;
  top: 10px;
  left: 40px;
}

.star1 {
  top: 40px;
  left: 120px;
  animation-delay: 2s;
}

.star2 {
  top: 210px;
  left: 20px;
  animation-delay: 1s;
}

.star3 {
  top: 120px;
  left: 70px;
  animation-delay: 5s;
}

.star4 {
  top: 520px;
  left: 240px;
  animation-delay: 4s;
}
.star5 {
  top: 370px;
  left: 160px;
  animation-delay: 6s;
}

@keyframes starAnimation {
  from {
    opacity: 0;
    filter: brightness(1);
  }
  to {
    opacity: 1;
    filter: brightness(4);
  }
}

@media screen and (min-width: 992px) {
  .home {
    background: url(./backgroundhome3.png);
  }
}

.contact {
  background-color: #63e9f3;
  background-color: #ffb531;
}

.contact h2 {
  text-align: center;
  color: #1b2947;
}
